version: '2.1'
services:
  pc-assets:
    image: node:6.9-slim
    working_dir: /usr/src
    ports:
      - "8284:8284"
    environment:
      - VERSION=${TRAVIS_COMMIT}
    volumes:
        - ./src/app-frontend:/usr/src
        - ./nginx/_site:/usr/dist
        # Ensure node_modules cache doesn't clash with other jobs on CI.
        - /var/cache/pc-demo-node-modules:/usr/src/node_modules
    entrypoint: npm
    command: run bundle
  pc-api-server:
    image: openjdk:8-jre
    ports:
      - "9000:9000"
    volumes:
        - ./src/app-backend/:/opt/app-backend/
        - ./src/app-backend/.sbt:/root/.sbt
        - /home/vagrant/.ivy2/:/root/.ivy2
        - $HOME/.aws:/root/.aws:ro
    environment:
      - AWS_DEFUALT_PROFILE=geotrellis
    working_dir: /opt/app-backend/
    entrypoint: ./sbt
    command: ~server/reStart
  pc-nginx:
    image: nginx:1.13
    depends_on:
      - pc-api-server
    ports:
      - "8000:443"
    volumes:
      - ./nginx/_site:/var/www
      - ./nginx/etc/nginx/nginx.conf:/etc/nginx/nginx.conf
