.sidebar {
  overflow-y: auto;
  .button-group {
    padding: 0 1rem;
    margin: 1rem 0 0;
    @include clearfix;
    button {
      margin: 0;
      width: 50%;
      border: 0;
      float: left;
      border-radius: 0;
      color: #fff;
      background-color: #465256;
      &:first-child {
        border-radius: 3px 0 0 3px;
      }
      &:last-child {
        border-radius: 0 3px 3px 0;
      }
      &.active {
        background-color: #20BEBF;
      }
    }
  }
  .sidebar-heading {
    font-weight: $heading-font-weight;
  }
  &.options {
    background-color: #1D2123;
    position: absolute;
    bottom: 0;
    right: 0;
    top: 0;
    left: 0;
    width: 30rem;
    z-index: 2000;

    .option-section {
      margin-bottom: 2rem;
    }

    label {
      margin-bottom: 0.2rem;
      display: block;
    }
  }
  &.analyze {
    background-color: #262B2D;
    position: absolute;
    bottom: 0;
    right: 0;
    top: 0;
    left: 30rem;
    width: 20rem;
    z-index: 3000;
    &:not(.active) {
      display: none;
    }
  }
  .content {
    padding: 1rem;
  }
  .tab-content {
    &:not(.active) {
      display: none;
    }
  }
  label,
  .label {
    display: block;
    &.primary {
      opacity: 0.8;
    }
    &.secondary {
      opacity: 0.6;
      font-size: 1.1rem;
      text-transform: uppercase;
      margin-top: 0.6rem;
    }
  }
  .analyze-result {
    margin: 1rem -1rem;
    padding: 1rem;
    border-top: 1px solid #404344;
    label,
    .label {
      text-align: center;
      margin-top: -0.7rem;
      font-size: 1.3rem;
    }
  }
}

.analyze-number {
  font-size: 5rem;
  text-align: center;
  font-weight: 400;
}

.analyze-description {
  margin: 1rem -1rem;
  padding: 1rem;
  border-top: 1px solid #404344;
  &:not(.active) {
    display: none;
  }
}

.analyze-result-wrapper {
  &:not(.active) {
    display: none;
  }
}

.button-analyze {
  background-color: $brand-primary;
  position: absolute;
  left: 30rem;
  margin-left: 1rem;
  top: 0;
  margin-top: 1rem;
  z-index: 2500;
  color: #fff;
  padding: 0.6rem 1rem;
  font-size: 1.8rem;
  border: 0;
  border-radius: 3px;
}

header {
  &.tabs {
    background-color: #465256;
    @include clearfix;
  }
  .tab {
    width: 50%;
    float: left;
    padding: 1rem;
    &.active {
      background-color: #1D2123;
      font-weight: $heading-font-weight;
    }
    &:not(.active) {
      color: #B5BABB;
      cursor: pointer;
    }
  }
  .analyze & {
    padding: 1rem;
    .button-cancel {
      position: absolute;
      right: 1rem;
      top: 1rem;
      background: transparent;
      background-color: transparent;
      border: 0;
      & > .icon-cancel {
        color: #fff;
      }
    }
  }
}

// This is an attempt to overwrite the
// style to the tabs,
// which are styled via blueprint's css

.main-tabs {
  background-color: #465256;
  @include clearfix;
}

.pt-tab {
    width: 50%;
    float: left;
    padding: 1rem;
    overflow: hidden;
    white-space: nowrap;

    &[aria-selected="true"] {
        background-color: #1D2123;
        font-weight: $heading-font-weight;
        border-radius: 0;
        box-shadow: inset 0 -3px 0 #106ba3;
    }
    &:not([aria-selected="true"]) {
        color: #B5BABB;
        cursor: pointer;
    }
}

#map1 {
  background-color: #cccccc;
  position: absolute;
  bottom: 0;
  right: 0;
  top: 0;
  left: 30rem;
  z-index: 1000;
}
