.card {
  background-color: #f2f2f2;
  margin: 0.5rem;
  padding: 2rem;
  position: relative;
  width: 100%;
  @media screen and (min-width: 860px) {
    width: calc(50% - 0.5rem);
    &:nth-child(2n) {
      margin-right: 0;
    }
    &:nth-child(2n+1) {
      margin-left: 0;
    }
  }
  @media screen and (max-width: 700px) {
    margin-left: 0;
    margin-right: 0;
    .card-demographics & {
      width: calc(50% - 0.5rem);
      &:nth-child(2n) {
        margin-right: 0;
      }
      &:nth-child(2n+1) {
        margin-left: 0;
      }
      .card-title {
        font-size: $font-size-h3 !important;
      }
      margin-bottom: 0 !important;
    }
  }
  &.mappable {
    &:before {
      position: absolute;
      top: 1rem;
      right: 1rem;
      content: '\f278';
      font-family: "mantle";
      color: #ccc;
    }
    &:hover, &.active {
      &:before {
        color: $brand-secondary;
      }
    }
  }
  .card-demographics & {
    overflow: hidden;
    background-color: transparent;
    box-shadow: none;
    margin-bottom: 1rem;
    padding: 0;
    margin-top: 1rem;
    &:last-child {
        width: 100%;
        margin-right: 0;
    }
    .card-title {
      font-size: $font-size-h2;
      margin-bottom: 1rem;
    }
    .demographic-title {
      margin-top: 0;
    }
  }

  @media screen and (min-width: 1300px) {
    width: calc(33.3333% - 0.6667rem);
    &:nth-child(2n) {
      margin-right: 0.5rem;
    }
    &:nth-child(2n+1) {
      margin-left: 0.5rem;
    }
    &:nth-child(3n+1) {
      margin-left: 0;
    }
    &:nth-child(3n+3) {
      margin-right: 0;
    }
    .card-demographics & {
        &:last-child {
          width: calc(66.667% - .333rem) !important;
        }
    }
  }
}

.card-demographics {
  margin-bottom: -0.5rem;
}

.card-email {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.card-title {
  margin-top: 0;
  font-size: $font-size-h3;
  @media screen and (max-width: 700px) {
    font-size: $font-size-h3;
  }
}

.card-subtitle {
  font-weight: $body-font-weight;
  font-size: $font-size-h4;
  margin: -0.4rem 0 0.8rem;
}

.demographics-chart {
  height: 275px;
  width: 100%;
  background-color: #ccc;
}

.card-container {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
}

.card-details {
  color: #999;
}

.card-democrat {
  color: #222;
  &:before {
    content: "";
    height: 10px;
    width: 10px;
    display: inline-block;
    background-color: $brand-primary;
    margin-right: 0.5rem;
  }
}

.card-republican {
  color: #222;
  &:before {
    content: "";
    height: 10px;
    width: 10px;
    display: inline-block;
    background-color: #FF7F50;
    margin-right: 0.5rem;
  }
}

.card-otherparty {
  color: #222;
  &:before {
    content: "";
    height: 10px;
    width: 10px;
    display: inline-block;
    background-color: #F1C40F;
    margin-right: 0.5rem;
  }
}

.gender-chart {
  height: 130px;
  padding-left: 10%;
}

.card-viewextra {
  cursor: pointer;
  .icon {
    display: none;
  }
}

.card-extra {
  display: none;
}

.card-extra-visible {
  position: absolute;
  background-color: $brand-secondary;
  color: #fff;
  z-index: 200;
  padding: 2rem;
  box-shadow: 0px 0px 5px rgba(66, 66, 66, 0.14);
  width: auto;
  right: 2rem;
  left: 2rem;
  margin-top: 1rem;
  &:after {
    content: "";
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-bottom: 8px solid $brand-secondary;
    top: -8px;
    position: absolute;
    margin-left: -18px;
  }
  a, a:hover, a:visited {
    color: #fff;
  }
}

.card-social {
  .icon {
    color: #999;
  }
}

.gender-chart-tooltip {
  color: #000;
  background-color: #666;
}

.race-chart-tooltip {
  color: #000;
  background-color: #666;
}

.demographics-bar-chart-table {
    width: 100vw !important;
}

.bar-chart-row {
    .bar-chart-text {
        text-align: right;
        height: 2.0rem;
        width: 4.0rem;
        padding-right: 0.5rem;
        color: #222;
    }
    .bar-chart-value {
        text-align: left;
        color: #ccc;
        font-size: $font-size-h5;
        .bar-chart-progress-fill {
            float: left;
            background-color: #222;
            color: #FFF;
            height: 2.0rem;
            display: block;
        }
        .bar-chart-progress-value {
            padding-left: 0.5rem;
        }
    }
}
