header {
  &.header-results {
    width: 100%;
    border-bottom: 1px solid #ccc;
    @media screen and (max-width: 700px) {
      order: 1;
      & > h1 {
        display: none;
      }
    }
    & > h1 {
      margin-top: 0;
      padding: 0 2rem;
    }
  }
  &.primary {
    background-color: $brand-primary;
    display: flex;
    position: relative;
    flex-direction: row;
    width: 100%;
  }
}

.brand {
  flex: 1;
  flex-basis: 50%;
  text-align: center;
  line-height: 50px;
  .mode-detail & {
    @media screen and (max-width: 700px) {
      display: none;
    }
  }
  & > img {
    height: 36px;
    position: relative;
    top: 8px;
  }
}

.Select-control {
  border-radius: 0;
  border: 0;
}

.Select-arrow-zone {
  display: none;
}
