.layerpicker {
  background-color: #fff;
  width: 24rem;
  margin-left: -24rem;
  transition: 0.3s all ease-in-out;
  position: relative;
  padding: 2.6rem 1rem 1rem;
  &.open {
    margin-left: 0;
  }
}

.layer {
  display: block;
  margin-bottom: 0.6rem;
  .layer-input {
    display: none;
  }
  .layer-input:checked + .layer-label {
    color: $brand-primary;
    &:after {
      content: "\e853";
      font-family: mantle;
      position: relative;
      left: 10px;
    }
  }
}

.layer-label {
  cursor: pointer;
  color: $gray-3;
  position: relative;
  display: block;
}
