nav {
  @media screen and (max-width: 700px) {
    overflow: hidden;
    text-align: center;
    min-width: 320px;
  }
  & > ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: inline-block;
    @include clearfix;
    & > li {
      margin: 0;
      padding: 0 1rem;
      text-align: center;
      float: left;
      margin-right: -2rem;
      font-size: $font-size-h4;
      @media screen and (max-width: 700px) {
        padding: 0 1.5rem;
      }
      &:last-child {
        margin-right: 0;
      }
      & > button {
        border: 0;
        padding: 0;
        background: none;
        padding: 1.4rem 1rem 0.8rem;
        outline: none;
        cursor: pointer;
        @media screen and (max-width: 700px) {
          padding-left: 0.3rem;
          padding-right: 0.3rem;
        }
        &.active {
          cursor: default;
          font-weight: 600;
          & > span {
            box-shadow: 0 3px 0 0;
            padding-bottom: 1.5rem;
            color: $brand-secondary;
          }
        }
      }
    }
  }
}
