.layout-results {
  background-color: #fff;
  flex: 1;
  position: relative;
  flex-direction: column;
  overflow: hidden;
  height: 100%;
  display: flex;
  box-shadow: 0px 0px 26px 0px rgba(51, 51, 51, 0.42);
  .mode-intro & {
    display: none;
  }
}

.data {
  position: relative;
  overflow: auto;
  flex: 1;
  padding: 0 2rem 2rem;
  @media screen and (max-width: 700px) {
    padding-left: 1rem;
    padding-right: 1rem;
  }
}

.neighborhood {
  font-weight: 400;
  color: #999;
  margin-top: -0.4rem;
  font-size: $font-size-h3;
  @media screen and (max-width: 700px) {
    margin-bottom: -0.6rem;
  }
}

.title-description {
  font-weight: 400;
  margin-bottom: -10px;
}
