.layout-selection {
  flex-basis: $panel-smaller;
  display: flex;
  position: relative;
  flex-direction: column;
  overflow: hidden;
  height: 100%;
  @media screen and (max-width: 700px) {
    width: 100%;
    flex-basis: 20rem;
  }
}
